<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
	  <bean id="messageIdCache" class="org.danielli.xultimate.remoting.metaq.support.XMemcacheMessageIdCache"
	  	p:memcachedTemplate-ref="xmemcachedTemplate" p:expireInSeconds="60" />
	  <bean id="setMessageIdCache" class="com.taobao.metamorphosis.client.consumer.SimpleFetchManager" factory-method="setMessageIdCache"
	  	c:messageIdCache-ref="messageIdCache" />
	
	  <!--  topics to be subscribed. -->
	  <bean id="loggingTopic" class="com.taobao.metamorphosis.client.extension.spring.MetaqTopic">
	      <!-- consumer group -->
	      <property name="group" value="testGroup"/>
	      <!--  topic -->
	      <property name="topic" value="test"/>
	      <!--  max buffer size to fetch messages -->
	      <property name="maxBufferSize" value="16384"/>
	  </bean>
	  
	  <!--  message listener -->
      <bean id= "messageListener" class="org.danielli.xultimate.remoting.service.impl.MetaqLoggingMessageListener">
        <!--  threads to process these messages. -->
        <property name="processThreads" value="10"/>
      </bean>
      
      <!--  listener container to subscribe topics -->
	  <bean id ="listenerContainer" class="com.taobao.metamorphosis.client.extension.spring.MessageListenerContainer" depends-on="setMessageIdCache"> 
	       <property name="messageSessionFactory" ref="sessionFactory"/>
	       <property name="messageBodyConverter" ref="defaultMessageBodyConverter"/>
	       <property name="subscribers">
	           <map>
	               <entry key-ref="loggingTopic" value-ref="messageListener"/>
	           </map>
	       </property>
	  </bean>
</beans>